@import '../../variables.scss';
@import '../../mixins.scss';
.header {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
@media(max-width: 992px) {
    .header {
        position: relative;
    }
}